@model Poll_Project.Models.Response

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Response</h4>
    <hr />
    <dl class="dl-horizontal">
        @foreach (var selection in Model.Selections)
        {
            <dt>
                "Selected Answer"
            </dt>

            <dd>
                @selection.Answer.Text
            </dd>
        }   

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
